<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>aip</title>
    <link rel="stylesheet" type="text/css" href="../public/css/aip.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/js/aipPage.js"></script>
</head>
    <%- include ('./header')%>
    <body>
        <table  border="3">
            <thead>
                <tr>
                    <td width = "10px" >num</td>
                    <td width = "10px">users_idx</td>
                    <td width = "50px">total</td>
                    <td width = "100px" >buy</td>
                    <td width = "100px" >sell</td>
                    <td width = "100px" >created</td>
                    <td width = "100px" > </td>
                </tr>
            </thead>       
            <tbody id="output" >

            </tbody>
        </table>

    </body>
</html>