<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/js/loginPage.js"></script>
</head>
<script>
    function logout(){
        axios({        
            method: 'post',
            url: '/logout'       
        }).then( (res)=> {       
            console.log('res.data = ', res);
            // console.log('res.data.result = ', res.data.result);
            if(res.data.accessToken){
                console.log('res.data.token = x ');
            }else{
                location.href='/' ;                    
            }
        }).catch( (error)=> {
            console.log(error);        
        });        
    }
    logout();
</script>

error

