<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

    <body>

        <div>

            <span class="title">관리자 페이지!</span>
            <a href = "/loginpage">로그인</a>
                
        </div>
    </body>
</html>