<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>유저리스트</title>
    <link rel="stylesheet" type="text/css" href="../public/css/log.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/js/log.js"></script>
</head>
    <%- include ('./header')%>
    
    <script>

    </script>

    <body>
        <table  border="3">
            <thead>
                <tr>
                    <td width = "100px" >거래번호</td>
                    <td width = "100px">회원번호</td>
                    <td width = "100px">코인명</td>
                    <td width = "150px">거래전<br>수량</td>
                    <td width = "50px" >거래<br>수량</td>
                    <td width = "100px" >시세</td>
                    <td width = "100px" >매수<br>금액</td>
                    <td width = "100px" >출금<br>금액</td>
                    <td width = "150px">거래후<br>수량</td>
                    <td width = "100px" >거래전<br>원화</td>
                    <td width = "100px" >거래후<br>원화</td>
                    <td width = "200px" >거래시간</td>                    
                    <td width = "10px" > </td>
                </tr>
            </thead>       
            <tbody id="output" >

            </tbody>
        </table>

    </body>
</html>

<!-- 
  idx int(11) unsigned AUTO_INCREMENT NOT NULL primary key COMMENT '거래번호',
  users_idx int(11) unsigned NOT NULL COMMENT '유저의 회원번호',
  CoinName char(30) not null COMMENT '코인명',
  PrevBalance DOUBLE DEFAULT 0 COMMENT '거래전 잔고금액',
  Quantity DOUBLE DEFAULT 0 COMMENT '보유수량',
  NowPrice DOUBLE DEFAULT 0 COMMENT '현재시세',
  buyAmount DOUBLE DEFAULT 0 COMMENT '매수금액',
  Withdrawal DOUBLE DEFAULT 0 COMMENT '출금금액',
  AfterBalance DOUBLE DEFAULT 0 COMMENT '거래후 잔고금액',
  prevKRW DOUBLE DEFAULT 0 COMMENT '거래전 원화',
  AfterKRW DOUBLE DEFAULT 0 COMMENT '거래후 원화',
  LatestTime DATETIME DEFAULT now() NOT NULL COMMENT '최근거래시간'
 -->