<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

    <body>

        <div id="wrap">

            <span class="title">로그인 페이지!</span>

                <form action="/main" method="GET">
                    
                    <label for="id">아이디</label>
                    <input id="id" type="id" required />
                    <label for="password">비밀번호</label>
                    <input id="password" type="password" required />
                    <button class="login100" onclick="login_click();">로그인</button>
                </form>           
                
        </div>
        <script>
            function login_click()	
            {
                const id = $("#id").val();
                const password =  $("#password").val();
        
                axios({        
                        method: 'post',
                        url: '/login',        
                        data: {        
                            id: id,        
                            password: password        
                        }        
                })
                .then(function (response) {       
                    console.log('1',response);        
                    res.send({data});
                })        
                .catch(function (error) {
                    console.log(error);        
                });        
            }        
        </script>
    </body>
</html>