<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/js/mainPage.js"></script>
</head>
    <%- include ('./header')%>
    <body>
        <script>
             
        </script>
        <div id="wrap">
            
            <span class="title">메인 페이지!</span>                   
               
                
        </div>
        
        <script>
            
             
        </script>
    </body>
</html>