<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>유저정보</title>
    <link rel="stylesheet" type="text/css" href="../public/css/trade.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/js/tradePage.js"></script>
</head>
    <%- include ('./header')%>
    
    <script>

    </script>

    <body>
        <table  border="3">
            <thead>
                <tr>
                    <td colspan="7">AIP</td>
                </tr>
                <tr>
                    <td width = "10px" >Idx</td>
                    <td width = "50px">회원번호</td>
                    <td width = "100px">total</td>
                    <td width = "100px" >buy</td>
                    <td width = "100px" >sell</td>
                    <td width = "100px" >trade_time</td>                    
                    <td width = "100px" > </td>
                </tr>
            </thead>       
            <tbody id="aip" >

            </tbody>
        </table>

    </body>
</html>