<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>유저정보</title>
    <link rel="stylesheet" type="text/css" href="../public/css/userinfo.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/js/userinfoPage.js"></script>
</head>
    <%- include ('./header')%>
    
    <script>

    </script>

    <body>
        <table  border="3">
            <thead>
                <tr id= 'userid'>
                    <td colspan="6">자산현황</td>
                </tr>
                <tr>
                    <td width = "100px">코인명</td>
                    <td width = "100px" >보유잔고</td>
                    <td width = "100px" >보유수량</td>
                    <td width = "100px" >현재시세</td>
                    <td width = "100px" >최근거래시간</td>
                    <td width = "100px" > </td>
                </tr>
            </thead>       
            <tbody id="Asset" >

            </tbody>
        </table>

    </body>
</html>