<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>유저리스트</title>
    <link rel="stylesheet" type="text/css" href="../public/css/userlist.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../public/js/userlistPage.js"></script>
</head>
    <%- include ('./header')%>
    
    <script>

    </script>

    <body>
        <table  border="3">
            <thead>
                <tr>
                    <td width = "30px" >회원번호</td>
                    <td width = "10px">ID</td>
                    <td width = "100px">이름</td>
                    <td width = "150px">보유원화</td>
                    <td width = "150px" >생성날짜</td>
                    <td width = "150px" >최근거래시간</td>                    
                    <td width = "10px" > </td>
                </tr>
            </thead>       
            <tbody id="output" >

            </tbody>
        </table>

    </body>
</html>

