<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>유저정보</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/aip.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../public/js/aip.js"></script>
</head>
    <%- include ('../header')%>
    
    

    <body>
        <table  border="3">
            <thead>
                <tr>
                    <td colspan="7">AIP거래소</td>
                </tr>
                <tr>
                    <td width = "100px" ></td>
                    <td width = "100px" >매수</td>
                    <td width = "100px">매도</td>
                   
                </tr>
                <tr>
                    <td width = "100px" >주문가격</td>
                    <td width = "100px"> <input type="text" id="buyNowPrice" class="buy" value="1233"> </td>
                    <td width = "100px"> <input type="text" id="sellNowPrice" class="sell" value="1233"></td>
                   
                </tr>
                <tr>
                    <td width = "100px" >수량</td>
                    <td width = "100px"> <input type="text" id="buyQuantity" class="buy" value="23.4"> </td>
                    <td width = "100px"> <input type="text" id="sellQuantity" class="sell" value="0"></td>
                   
                </tr>
                <tr>
                    <td width = "100px" ></td>
                    <td width = "100px" ><button type="button" class="btn" onclick="buyAmount();"> 확인 </button> </td>
                    <td width = "100px"><button type="button" class="btn" onclick="sellAmount();"> 확인 </button> </td>
                   
                </tr>
                <script>
                    
                </script>
                <tr>
                    <td width = "100px" >주문금액</td>
                    <td width = "100px"> <input type="text" id="buyAmount" class="buy" value="0"> </td>
                    <td width = "100px"> <input type="text" id="sellAmount" class="sell" value="0"> </td>
                   
                </tr>
                <tr>
                    <td width = "100px" ></td>
                    <td width = "100px" ><button type="button" class="btn" onclick="buy_click();"> 매수 </button> </td>
                    <td width = "100px"><button type="button" class="btn" onclick="sell_click();"> 매도 </button></td>
                   
                </tr>
            </thead>       
            <tbody id="aip" >

            </tbody>
        </table>

    </body>
</html>